In [37]:
import pandas as pd
import numpy as np

1) Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [38]:
ds = pd.Series([1,2,3,4,5])
ds

0    1
1    2
2    3
3    4
4    5
dtype: int64

2) Write a Pandas program to convert a Panda module Series to Python list and it's type

In [39]:
ds.to_list(),type(ds.to_list())

([1, 2, 3, 4, 5], list)

3) Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [40]:
ds1= pd.Series([2, 4, 6, 8, 10])
ds2= pd.Series([1, 3, 5, 7, 9])

In [41]:
ds_add = ds1+ds2
ds_add

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [42]:
ds_sub = ds1-ds2
ds_sub

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [43]:
ds_mult = ds1*ds2
ds_mult

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [44]:
ds_divide = ds1/ds2
ds_divide

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4) Write a Pandas program to compare the elements of the two Pandas Series.

In [45]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
ds1==ds2, ds1>ds2, ds1<ds2, ds1!=ds2

(0    False
 1    False
 2    False
 3    False
 4     True
 dtype: bool,
 0     True
 1     True
 2     True
 3     True
 4    False
 dtype: bool,
 0    False
 1    False
 2    False
 3    False
 4    False
 dtype: bool,
 0     True
 1     True
 2     True
 3     True
 4    False
 dtype: bool)

5) Write a Pandas program to convert a dictionary to a Pandas series.

In [46]:
D = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
new_D = pd.Series(D)
new_D

a    100
b    200
c    300
d    400
e    800
dtype: int64

6) Write a Pandas program to convert a NumPy array to a Pandas series.

In [48]:
arr = np.array([10,20,30,40,50])
type(arr)
arr_pd = pd.Series(arr)
arr_pd

0    10
1    20
2    30
3    40
4    50
dtype: int32

7) Write a Pandas program to change the data type of given a column or a Series.

In [ ]:
ds = pd.Series([100,200,'python',300.12,400])
ds2= pd.to_numeric(ds,errors='coerce')
ds2

8) Write a Pandas program to convert the first column of a DataFrame as a Series.

In [65]:
df = pd.DataFrame({'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]})
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [66]:
ds = pd.Series(df['col1'])
ds

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

9) Write a Pandas program to convert a given Series to an array.

In [70]:
ds = pd.Series([100,200,'python',300.12,400])
a = np.array(ds.values.tolist())
a

array(['100', '200', 'python', '300.12', '400'], dtype='<U11')

10) Write a Pandas program to convert Series of lists to one Series.

In [75]:
s=pd.Series([['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']])
s=s.apply(pd.Series).stack().reset_index(drop=True)
s

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object